#c_navbar {
    position: absolute;
    top: 0px;
  width: 100%;
  background-color: #5c4522;
  margin-bottom: 20px;
}

#user_logo {
    position: relative;
    top: 8px;
    width:3%;
    height:3%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

li {
  display: inline;
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #5c4522;
}

.button-18 {
    margin: 4px;
}
